:root {
  --primary-color: #9792e4;
  --secondary-color: #0084fd;
  --card-bg-color: #b5ddff;
  --card-color: #353535;

  --margin-vertical: 30px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  padding: 1rem 2rem;
  background-color: red;
  border-radius: 2rem;
  font-size: 0.7rem;
  text-align: center;
  width: fit-content;
}

.card {
  border-radius: 1rem;
}

/* GRID */

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;

  display: flex;
  flex-wrap: wrap;
}

[class*="col"] {
  padding: 15px;
  /* border: 1px dashed red; */
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-2-3 {
  width: calc(100% / 3 * 2);
}

/* UTILS */

.debug {
  min-height: 80px;
  background-color: lightgray;
  padding: 2rem;
}

.img-round {
  border-radius: 50%;
  background-color: antiquewhite;
  aspect-ratio: 1;
  width: 80%;
  overflow: hidden;
}

.img-round > img {
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

/* HEADER */

header {
  background-color: var(--secondary-color);
  color: white;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .container > .logo,
header > .container > nav {
  padding: 20px;
  /* debug */
  /* color: black;
  background-color: var(--card-bg-color); */
}

header nav ul {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
}

header nav ul li {
  font-size: 1rem;
  color: white;
}

.get-started.btn {
  background: #fff;
  color: black;
  font-size: 1rem;
}

nav span {
  display: none;
}

/* SECTION DEMO APP */

#demo-app .card .col-1-2 {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.3rem;
  text-align: left;
}

#demo-app .card h3 {
  color: var(--secondary-color);
}

#demo-app .card p {
  line-height: 1.5rem;
  font-weight: 600;
  color: #62788a;
}

#demo-app .btn {
  background-color: var(--secondary-color);
  padding: 0.5rem 2rem;
  font-weight: 500;
  font-size: 1.1rem;

  color: white;
}

#demo-app .btn i {
  padding-right: 0.5rem;
  font-size: 1rem;
  color: white;
}

#demo-app .phone-img {
  width: 280px;
  position: relative;
  top: 2rem;
  right: 2rem;
}

#demo-app .card {
  background-color: var(--card-bg-color);
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--margin-vertical);
  padding-top: var(--margin-vertical);
  padding-bottom: var(--margin-vertical);
  text-align: center;
}

#demo-app i {
  font-size: 5rem;
  color: var(--secondary-color);
}

/* SECTION STRATEGIC PLANNING */

#strategic-planning {
  background-color: var(--primary-color);
}

#strategic-planning .container {
  display: flex;
  max-width: 800px;
  padding: 2rem 0;
}

#strategic-planning .row {
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

#strategic-planning .container .col-1-2:first-of-type {
  background: none;
  color: white;
}

#strategic-planning .col-1-2:first-of-type {
  min-height: 650px;
}

#strategic-planning .col-1-2:first-of-type,
#strategic-planning .container .img-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#strategic-planning .container .img-card {
  align-items: center;
  text-align: center;
  background-color: white;
  padding-top: var(--margin-vertical);
  padding-bottom: var(--margin-vertical);
}

#strategic-planning .img-card img {
  height: 200px;
}

#strategic-planning .img-card .img-caption {
  line-height: 1.7rem;
}

#strategic-planning .img-card .img-caption h3 {
  font-weight: 800;
  padding-bottom: var(--margin-vertical);
}

#strategic-planning .img-card .btn {
  border-radius: 50%;
  aspect-ratio: 1;
  line-height: 3rem;
  background-color: var(--primary-color);
  font-size: 1.5rem;
}

#strategic-planning .img-card .btn i {
  font-weight: bold;
}

#strategic-planning .container .card div {
  margin: 0;
}

/* SECTION TESTIMONIALS */
.section-header {
  margin: 2rem 0;
  text-align: center;
  font-size: 1.1rem;
}

#testimonials h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin: var(--margin-vertical) 0;
}

#testimonials .card {
  display: flex;
  align-items: center;
  margin: var(--margin-vertical) 0;
  background: var(--primary-color);
  color: white;
  padding: 2rem 1rem;
}

.testimonial-img {
  width: 30%;
}

.testimonial-img img {
  height: 100%;
}

.testimonial-caption {
  width: 70%;
  font-size: 1.3rem;
}

.testimonial-caption p {
  padding-bottom: var(--margin-vertical);
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.testimonial-caption p i {
  font-size: 1.5rem;
}

/* SECTION WORK WITH US */
#work-with-us {
  background-color: var(--primary-color);
  padding-bottom: var(--margin-vertical);
}

#work-with-us h2 {
  color: white;
  font-size: 2rem;
  padding-top: calc(var(--margin-vertical) * 2);
}

#work-with-us p {
  color: black;
}

#work-with-us .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(var(--margin-vertical) / 2);
  padding: var(--margin-vertical);
  background-color: white;
}

#work-with-us .card h2,
#work-with-us .card h4 {
  color: var(--primary-color);
  padding: 0;
}

#work-with-us .card h2 {
  font-size: 3.5rem;
}

#work-with-us .card h4 {
  font-size: 1.2rem;
}

#work-with-us .card p {
  color: black;
}

#work-with-us .card .more.btn {
  padding: 0.5rem 2rem;
  background-color: var(--primary-color);
  color: white;
}

/* SECTION ABOUT US */

#about-us .container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: calc(var(--margin-vertical) * 2);
}

.about-us-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--margin-vertical);
  padding-right: var(--margin-vertical);
}

#about-us h2 {
  font-size: 3.5rem;
  color: var(--primary-color);
}

#about-us p {
  line-height: 2.3rem;
}

.about-us-img {
  width: 30%;
  vertical-align: top;
}

.about-us-img img {
  height: 100%;
}

#about-us .layer-img {
  position: relative;
}

#about-us .layer-img i {
  position: absolute;
  top: 0;
  right: 3.5rem;
  font-size: 4rem;
  color: var(--primary-color);
}

#about-us .about-us-img .card {
  background-color: white;
  padding-top: 0;
}

.about-us-img .img-caption {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--margin-vertical);
  margin-top: var(--margin-vertical);
}

.about-us-img h4 {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.about-us-img .linkedin.btn {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 0.5rem;
}

.about-us-img .linkedin.btn i {
  padding-right: 0.2rem;
}

/* SECTION GET STARTED */
#get-started {
  background-color: var(--primary-color);
  color: white;
  padding: calc(var(--margin-vertical) * 2);
}

#get-started .container {
  display: flex;
  flex-direction: column;
  gap: var(--margin-vertical);
  align-items: center;
  max-width: 600px;
  text-align: center;
}

#get-started h4 {
  font-weight: 100;
  font-stretch: expanded;
}

#get-started h3 {
  font-size: 1.5rem;
}

#get-started h2 {
  font-size: 3.5rem;
  color: #fdc15f;
}

#get-started .btn {
  color: var(--primary-color);
  font-weight: 600;
  font-stretch: expanded;
}

#get-started p span {
  text-decoration: underline;
}

/* FOOTER */
footer {
  background-color: #333333;
  color: white;
  padding: calc(var(--margin-vertical) * 2) 0;
}

footer .container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin-vertical) * 3);
  align-items: center;
  text-align: center;
}

footer a {
  text-decoration: underline;
  color: var(--primary-color);
}
/* tablet media */

@media screen and (max-width: 768px) {
  .container {
    overflow: hidden;
  }

  /* header */
  header nav ul {
    display: none;
  }

  nav span {
    display: inline-block;
  }

  /* demo app */

  #demo-app {
    margin-bottom: calc(var(--margin-vertical) * 2);
  }
  #demo-app .card .col-1-2 {
    width: 100%;
    padding: var(--margin-vertical);
    padding-bottom: 0;
  }

  #demo-app .card .col-1-2:first-of-type {
    height: 250px;
  }

  #demo-app .phone-img {
    position: relative;
    left: 0rem;
  }

  #demo-app .card:first-of-type {
    display: flex;
    flex-direction: column;
  }

  /* strategic planning */
  #strategic-planning .container .col-1-2 {
    width: 100%;
    margin: 0 1rem;
  }

  .testimonial-img {
    width: 40%;
  }

  .testimonial-caption {
    width: 60%;
  }

  /* SECTION WORK WITH US */
  #work-with-us .col-1-3 {
    width: 50%;
  }

  #about-us .layer-img i {
    right: 1rem;
  }
}

/* smartphone media */

@media screen and (max-width: 480px) {
  [class*="col"] {
    width: 100%;
  }

  .container {
    margin: 1.5rem;
  }

  .card {
    border-radius: 3rem;
  }
  /* demo app */
  #demo-app .card .col-1-2 {
    min-height: 200px;
    padding-bottom: 0;
  }

  #demo-app .phone-img {
    position: relative;
    margin: 0 auto;
  }

  /* strategic planning */

  #strategic-planning .img-card {
    text-align: center;
  }

  #strategic-planning .img-card img {
    height: 300px;
  }

  #strategic-planning .img-caption {
    width: 80%;
    padding-top: var(--margin-vertical);
    padding-bottom: var(--margin-vertical);
    font-size: 1.5rem;
  }

  #strategic-planning .img-caption p {
    font-style: italic;
  }

  #strategic-planning .img-card .btn {
    line-height: 4rem;
    background-color: var(--primary-color);
    font-size: 1.5rem;
  }

  /* testimonials */

  #testimonials .card {
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    width: 100%;
  }

  .testimonial-img {
    width: 80%;
  }

  .testimonial-img .img-round,
  .testimonial-caption {
    width: 100%;
  }

  .testimonial-caption p {
    padding-top: var(--margin-vertical);
  }
  /* SECTION WORK WITH US */
  #work-with-us .col-1-3 {
    width: 100%;
  }

  /* SECTION ABOUT US */
  #about-us .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: calc(var(--margin-vertical) * 2);
  }

  .about-us-text,
  .about-us-img {
    width: 100%;
    text-align: start;
  }

  .about-us-img .card {
    padding-left: 0;
    margin-top: var(--margin-vertical);
  }

  #about-us .img-round {
    width: 60%;
  }

  #about-us .layer-img i {
    right: 7.5rem;
  }

  .btn {
    font-size: 1rem;
  }
}
